{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block content %}
    <a href="{{ url_for("client_bp.get_providers") }}">Back to providers</a>
    <h2>Verify with {{ provider.name }}</h2>
    <form method="post" action="{{ url_for("client_bp.provider_verify", provider_id=provider.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="provider_authenticate_verify_code">Verification code: </label>
        <input type="text" placeholder="XXXXX" name="verification_code" id="provider_authenticate_verify_code"/>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block script %}
{% endblock %}

