{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block content %}
    <a href="{{ url_for("client_bp.get_providers") }}">Back to providers</a>
    <h2>Authenticate with {{ provider.name }}</h2>
    <form method="post" action="{{ url_for("client_bp.provider_authenticate", provider_id=provider.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="provider_authenticate_auth_id">Phone number: </label>
        <input type="text" placeholder="+XXXXXXXXXXX" name="auth_id" id="provider_authenticate_auth_id"/>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block script %}
{% endblock %}

