<div class="channel-list-wrapper">
    <div class="channel-list">
        {% for channel in channels %}
            <a href="{{ url_for('client_bp.get_channel', channel_id=channel.id) }}">
                <div class="channel-list-item">
                    {{ channel.name }}
                </div>
            </a>
        {% else %}
            No channels. Add some <a href="{{ url_for("client_bp.get_providers") }}">Providers</a>.
        {% endfor %}
    </div>
</div>