<blockquote {% if channel_message.from_contact.me %}class="blockquote-right"{% endif %}>
    {{ channel_message.body }}<br>
    <small class="muted">{{ channel_message.from_contact.name }} - {% if channel_message.provider_sent_ts %}
        {{ channel_message.provider_sent_ts|format_dt("%H:%M") }}{% endif %}</small>
</blockquote>
<div style="clear: both;"></div>