{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block aside %}
    {% include "channel_list.html" %}
{% endblock %}

{% block content %}
    <div class="main-chat-area">
        <div class="chat-messages" id="chat-messages">
            {% for channel_message in channel_messages %}
                {% include "channel_message.html" %}
            {% endfor %}
        </div>
        <div class="chat-send-message">
            <form method="post" action="{{ url_for("client_bp.send_message_to_channel", channel_id=channel.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="message_body">Message: </label>
                <textarea name="body" id="message_body" autofocus onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      var objDiv = document.getElementById("chat-messages");
      objDiv.scrollTop = objDiv.scrollHeight;
    </script>
{% endblock %}
