{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{{ url_for('client_bp.get_contact', contact_id=contact.id) }}">{{ contact.name }}</a>
                <ul>
                    {% for user_provider_contact in contact.user_provider_contacts %}
                        <li>{{ user_provider_contact.name }}
                            - {{ user_provider_contact.user_provider.provider.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}
