{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
<div class="container commited-messages">
    <div class="row">
        <div class="col-md-12">
            <div id="commited-messages">
            </div>
        </div>
    </div>
</div>

<div class="container input-messages">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="input-name"></label>
                <input class="form-control" id="input-name" type="text"
                       value="Anonymous"
                       placeholder="your name..."/>
            </div>
            <div id="chat-messages">
            </div>
            <div class="form-group">
                <label for="comment"></label>
                <div id="emoji-textarea"></div>
                <textarea class="form-control" rows="5" id="comment" placeholder="your message..."></textarea>
                <button id="commit-message" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>
                </button>
                <button id="delete-message" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
{% endblock %}
