<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "App" }}</title>
    {% include "favicons.html" %}
    {% import "_macros.html" as macros %}
    <style>
        body {
            font-family: Open Sans, Arial, sans-serif;
            color: #444;
            padding: 0 1em;
        }

        nav {
            border: 1px solid #00f;
        }

        main {
            border: 1px solid #f00;
            max-width: 800px;
            margin: 0 auto;
            margin-left: 300px;
        }

        aside {
            border: 1px solid #0f0;
            float: left;
            max-width: 300px;
        }

        @media (max-width: 800px) {
            aside {
                max-width: 100px;
            }

            main {
                margin-left: 100px;
            }
        }

        blockquote {
            border-left: 2px solid #888;
            padding-left: 5px;
            margin: 2px;
            display: inline-block;
        }

        textarea {
            width: 100%;
            padding: 0.5em;
            font-family: Open Sans, Arial sans-serif;
            font-size: 1em;
            box-sizing: border-box;
        }

        .pull-right {
            float: right;
        }

        .clearfix {
            float: none;
            clear: both;
        }

        .flash {
            padding: 4px;
            margin: 4px;
        }

        .flash.error {
            border: 1px solid #f22;
            background-color: #faa;
            color: #f22;
        }

        .flash.message, .flash.info {
            border: 1px solid #28f;
            background-color: #cef;
            color: #28f;
        }

        .danger {
            color: #f22;
        }

        .channel-list-wrapper {
            padding: 20px;
            height: 90vh;
        }

        .channel-list {
            border: 1px solid #0ff;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;
        }

        .channel-list-item {
            border: 1px solid black;
            padding: 10px;
        }

        .main-chat-area {
            position: relative;
            border: 1px solid #f0f;
            padding: 20px;
            height: 90vh;
        }

        .chat-messages {
            background-color: #fff;
            border: 1px solid #00f;
            position: absolute;
            bottom: 140px;
            max-height: 80%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 10px;
            width: 80%;
        }

        .chat-send-message {
            border: 1px solid #f00;
            position: absolute;
            bottom: 0;
        }

        .blockquote-right {
            border-left: 0;
            float: right;
            text-align: right;
            border-right: 2px solid #888;
            padding-right: 5px;
        }

        .muted {
            color: #aaa;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {% if category == 'message' %}error{% else %}{{ category }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<nav>
    {%- if current_user.is_authenticated %}
        <a href="{{ url_for('client_bp.get_channels') }}">Chat</a>
        <span class="pull-right">
            <a href="{{ url_for('client_bp.get_providers') }}">Providers</a> |
            <a href="{{ url_for('client_bp.get_contacts') }}">Contacts</a> |
            {{ current_user.email }} |
            <a href="/logout">Log out</a></span>
    {%- else %}
        <p class="pull-right">User {{ current_user.id }} | <a href="/login">Log in</a> | <a
                href="/register">Register</a></p>
    {%- endif %}
</nav>
<div class="clearfix"></div>
<aside>
    {% block aside %}{% endblock %}
</aside>
<main>
    {% block content %}{% endblock %}
</main>

<script>
  var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %}
</script>
{{ macros.include_js('layout') }}
{% block script %}{% endblock %}
</body>
</html>
