{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block content %}
    <ul>
        {% for user_provider_contact in user_provider_contacts %}
            <li>{{ user_provider_contact.name }}
                - {{ user_provider_contact.user_provider.provider.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}

