{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>Providers:</h2>
    <p>Add a provider to chat with people on it.</p>
    <ul>
        {% for provider in providers %}
            <li>
                {% if provider.id in user_providers %}
                    Added:
                {% else %}
                    +
                {% endif %}
                <a href="{{ url_for('client_bp.get_provider', provider_id=provider.id) }}">{{ provider.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}

