{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{% endblock %}

{% block content %}
    <a href="{{ url_for("client_bp.get_providers") }}">Back to providers</a>
    <h2>{{ provider.name }}</h2>
    <a href="{{ url_for("client_bp.get_provider_contacts", provider_id=provider.id) }}">Get contacts</a>
{% endblock %}

{% block script %}
{% endblock %}

